@font-face {
    font-family: billabong;
    src: asset-url('../fonts/billabong.ttf');
    src: asset-url('../fonts/billabong'),
         asset-url('../fonts/billabong.ttf') format('truetype'),
         asset-url('../fonts/billabong.svg#font') format('svg');
}
