
.navbar {
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235); 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    top: 0px;
    height: 80px;
    transition: height 0.2s ease-in-out;
    z-index: 5; 
    min-width: 800px;

    .subnav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 85%; 
    }

    .nav-index {

        a {
            display: flex; 
            justify-content: center;
            align-content: center;
            color: black;
            text-decoration: none;

            i {
                font-size: 1.6em;
                margin: 15px;
                padding-top: 13px;
                padding-left: 13px;
            }

            .logo {
                font-size: 2em;
                margin-top: 25px;
                padding-left: 17px;
                border-left: 1px solid black;
                transition: color 0.2s ease-in-out;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 

        .create-post-button img {
            width: 21px;
            height: 21px;
            margin-right: 30px;
        }

        .create-post-button img:hover {
            cursor: pointer;
        }

        .profile-button img {
            width: 21px;
            height: 21px;
            margin-right: 30px;
        }

        .logout-button img {
            width: 21px;
            height: 21px;
            margin-right: 30px;
        }

        .logout-button img:hover {
            cursor: pointer;
        }
    }
}

.navbar-down {
    height: 60px;
}

.navbar .nav-index a .hide-logo {
    color: white;
    border-left: none;
}

.search-field {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px; 
    padding: 3px; 
    margin: 0 2%; 
    position: relative; 
    background: #FAFAFA;

    i {
        color: #999999;
        font-size: 10px; 
        padding: 5px; 
        padding-right: 8px; 
    }

    input {
        border: none; 
        font-size: 14px; 
        width: 170px; 
        font-weight: 300; 
        background-color: #FAFAFA; 
    }

    input:focus {
        outline: none; 
    }

    img {
        padding: 5px; 
        height: 14px; 
        width: 14px; 
    }

    .clear-search {
        display: none; 
    }

    .search-results {
        position: absolute; 
        top: 50px;
        z-index: 6; 
        background: white;  
        width: 241px; 
        max-height: 362px;
        overflow: scroll; 
        border-radius: 3px; 
        box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.72);
        border: 1px solid rgb(235, 235, 235);

        .search-item {
            height: 60px;
            display: flex;
            flex-direction: row; 
            align-items: center; 
            justify-content: flex-start; 
            border-bottom: 1px solid rgb(235, 235, 235);

            img {
                height: 32px;
                width: 32px; 
                border-radius: 50%; 
                padding-left: 20px; 
            }

            p {
                font-size: 14px; 
                font-weight: 600; 
                padding-left: 10px;
            }
            
            .not-found {
                text-align: center;
                color: #999999;
                font-size: 14px; 
                font-weight: 300; 
            }
        }

        .search-item:hover {
            cursor: pointer; 
        }

        :last-child {
            border-bottom: none; 
        }
    }
}













