.navbar {
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235); 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 80px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    z-index: 5; 

    .nav-index {
        margin: 0 70px;

        a {
            display: flex; 
            justify-content: center;
            align-content: center;
            color: black;
            text-decoration: none;

            i {
                font-size: 1.6em;
                margin: 15px;
                padding-top: 13px;
                padding-left: 13px;
            }

            .logo {
                font-size: 2em;
                margin-top: 25px;
                padding-left: 17px;
                border-left: 1px solid black;
                transition: color 0.2s ease-in-out;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        margin-right: 70px;

        .create-post-button img {
            width: 24px;
            height: 24px;
            margin-right: 25px;
        }

        .create-post-button img:hover {
            cursor: pointer;
        }

        .profile-button img {
            width: 24px;
            height: 24px;
            margin-right: 25px;
        }

        .logout-button img {
            width: 24px;
            height: 24px;
            margin-right: 25px;
        }

        .logout-button img:hover {
            cursor: pointer;
        }
    }
}

.navbar-down {
    height: 50px;
}

.navbar .nav-index a .hide-logo {
    color: white;
    border-left: none;
}













