.post-show-main {
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    min-width: 340px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;

    .post-show-img {
        min-width: 500px; 
        max-width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px 0 0 3px;
        background-color: white;
        border: 1px solid rgb(235, 235, 235); 
        border-right: none;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .post-show-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 340px;
        border-radius: 0 3px 3px 0;
        border: 1px solid rgb(235, 235, 235); 
        background-color: white; 

        header {
            width: 100%;
            overflow: hidden;
            height: 72px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(235, 235, 235); 
            padding: 16px;
            box-sizing: border-box;

            .header-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    margin-left: 16px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        section {
            width: 100%;
            overflow: hidden;
            display: flex; 
            flex-direction: column;
            justify-content: flex-start;
            padding: 5px 0;
            padding-left: 16px;
            padding-right: 10px;
            box-sizing: border-box;

            .show-caption {
                display: flex; 
                justify-content: flex-start;
                align-items: center; 
                margin: 10px 0;

                img {
                    width: 30px;
                    height: 30px; 
                    border-radius: 50%;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start; 
                    padding-left: 16px;
                    font-size: 14px;
                    width: 80%;

                    div {
                        padding: 4px 0;
                        width: 100%;
                    }

                    :first-child {
                        display: inline-block;
                    }

                    #show-username {
                        font-weight: 500; 
                        padding-right: 8px;
                    }

                    #dates {
                        font-size: 12px;
                        color: #999;
                        padding-top: 5px;
                    }

                    .ribbon {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        strong {
                            font-size: 14px;
                            font-weight: 500;
                            color: #3897f0;
                        }

                        strong:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
