.post-show-main {
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    min-width: 340px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;

    .post-show-img {
        min-width: 500px; 
        max-width: 700px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px 0 0 3px;
        background-color: black;
        border: 1px solid rgb(235, 235, 235); 
        border-right: none;
        
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    .post-show-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 340px;
        max-height: 500px;
        border-radius: 0 3px 3px 0;
        border: 1px solid rgb(235, 235, 235); 
        background-color: white; 

        header {
            position: sticky;
            top: 0;
            width: 100%;
            overflow: hidden;
            height: 72px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(235, 235, 235); 
            padding: 16px;
            box-sizing: border-box;

            .header-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    margin-left: 16px;
                    font-size: 15px;
                    font-weight: 500;
                }

                .location {
                    font-size: 12px;
                    font-weight: normal;
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        section {
            width: 100%;
            overflow-y: scroll;
            display: flex; 
            flex-direction: column;
            justify-content: flex-start;
            padding: 5px 0;
            padding-left: 16px;
            padding-right: 10px;
            box-sizing: border-box;
            margin-bottom: 155px;

            .show-caption {
                display: flex; 
                justify-content: flex-start;
                align-items: center; 
                margin: 10px 0;

                img {
                    width: 30px;
                    height: 30px; 
                    border-radius: 50%;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start; 
                    padding-left: 16px;
                    font-size: 15px;
                    width: 80%;
                    overflow-wrap: break-word;

                    div {
                        padding: 4px 0;
                        width: 100%;
                    }

                    :first-child {
                        display: inline-block;
                    }

                    #show-username {
                        font-weight: 500; 
                        padding-right: 8px;
                    }

                    #dates {
                        font-size: 12px;
                        color: #999;
                        padding-top: 5px;
                    }

                    .ribbon {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        strong {
                            font-size: 14px;
                            font-weight: 500;
                            color: #3897f0;
                        }

                        strong:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .icon-bar {
            position: absolute;
            margin-bottom: 0; 
            width: 100%;
            bottom: 60px;
            height: 95px;
            display: flex;
            flex-direction: column; 
            border-top: 1px solid rgb(235, 235, 235); 

            #icons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                align-items: center; 
                margin-bottom: 0px; 

                img {
                    padding: 10px 15px 8px 0px;
                }
            }

            p {
                font-size: 14px;
                font-weight: 600; 
                padding-left: 16px;
            }
        }

        .post-create-date {
            position: absolute;
            left: 16px; 
            bottom: 70px;
            font-size: 10px; 
            color: #999999; 
        }

        .comment-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: white; 
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            padding: 0 20px;
            border-top: 1px solid rgb(235, 235, 235); 

            textarea {
                width: 88%;
                height: 90%;
                text-align: justify;
                border: none;
                resize: none;
                font-size: 15px;
                padding: 15px 0;
                box-sizing: border-box;
                margin-right: 10px;
            }

            textarea:focus {
                outline: none;
                cursor: text;
            }

            p {
                font-size: 14px;
                font-weight: 500;
            }

            .real-comment-button {
                color: #3897f0;
            }

            .real-comment-button:hover {
                cursor: pointer;
            }

            .fake-comment-button {
                color: #84bcf0
            }
        }

    }
}

.not-found {
    width: 100%;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    h2 {
        margin: 20px; 
        font-size: 24px; 
        font-weight: 600; 
    }

    p {
        font-size: 16px; 

        a {
            color: #003569; 
        }
    }
}
