// profile header styling 

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 50px;
    min-width: 800px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 40px;
    }

    div {
        width: 40%;
        margin: 20px 50px;
        font-size: 16px;

        h2 {
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        p {
            strong {
                font-weight: 600;
            }
        }
    }
}

// profile post grid and body styling 

.profile-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 80%;
    max-width: 940px; 

    .profile-menu {
        border-top: 1px solid #dad9d9;
        width: 100%;
        min-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 12px;
        font-weight: 600;

        .posts {
            border-top: 1px solid black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
            height: 100%;

            p {
                padding-left: 7px;
                padding-right: 7px;
            }

        }

    }

    .no-posts {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        min-height: 55vh; 

        img {
            padding-top: 10px;
        }

        h3 {
            font-size: 28px;
            font-weight: 200;
            margin: 20px 0;
        }

        .upload-msg {
            width: 350px;
            text-align: center;
            margin-bottom: 10px;
            p {
            font-size: 14px;
            }
        }
    }

    .posts-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: flex-start; 
        min-height: 40vh; 
        box-sizing: border-box;
        min-width: 800px;

        .profile-post-item {
            display: inline-block;
            box-sizing: content-box;
            width: 30.7%;
            height: 0px;
            padding-bottom: 30.7%;
            margin: 1.3%;
            position: relative; 
            
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
            }

            .post-stats {
                position: absolute; 
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; 
                background: rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: row;
                justify-content: center; 
                align-items: center; 
                
                div {

                    img {
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        padding-left: 25px;
                        padding-right: 10px; 
                    }
    
                    div {
                        display: inline-block; 
                        font-size: 14px;
                        font-weight: 600;
                        color: white; 
                        padding-left: 13px;
                        padding-right: 23px; 
                    }
                }
            }

            .hide-stats {
                display: none; 
            }
        }
    }
}

