// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FAFAFA; 
    font-family: Arial, Helvetica, sans-serif;
}

.session-form-container {
    margin: auto; 
    width: 350px; 
} 

.session-form-container > .form-box, form, a.session-link {
    background: white; 
    border: 1px solid rgb(235, 235, 235); 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

form {
    border: none;
}

.logo  {
    font-family: billabong;
    font-size: 3.6em;
    margin: 7px auto 25px
}

.session-form button {
    width: 270px; 
    margin: 15px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background:#BFDCFA;
    border-radius: 3px; 
    border: none;
    padding: 40px auto;
}

.session-form button:hover {
    background: rgb(46, 152, 252);
}

.session-form .field input {
    border-radius: 3px; 
    width: 270px;
    height: 30px; 
    margin: 3px;
    border: 1px solid rgb(235, 235, 235); 
    background-color: #FAFAFA;
    padding-left: 6px;
    font-size: 12px;
}

.session-form input:focus {
    cursor: text;
    width: 270px;
    border: 1px solid rgb(182, 181, 181);
    outline: none;
}

.demo-box {
    border-top: 1px solid rgb(235, 235, 235);
    width: 270px;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative; 
}

.demo-box > p {
    color: rgb(182, 181, 181);
    font-size: 13px;
    font-weight: bold;
    position: absolute; 
    background: white;
    padding: 15px; 
    top: -21px;
}

.demo-box > i {
    color: black;
}

