// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FAFAFA; 
    font-family: Arial, Helvetica, sans-serif;
}

.session-form-container {
    margin: auto; 
    width: 350px; 
} 

.session-form-container > .form-box, form, .session-link {
    background: white; 
    border: 1px solid rgb(235, 235, 235); 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

form {
    border: none;
}

.logo  {
    font-family: billabong;
    font-size: 3.6em;
    margin: 15px auto 25px
}

.session-form .session-greeting {
    text-align: center;
    width: 270px;
    color: #999;
    font-weight: bold; 
    margin-bottom: 15px;
}

.session-form button {
    width: 270px; 
    margin: 15px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background:#BFDCFA;
    border-radius: 3px; 
    border: none;
    padding: 40px auto;
}

.session-form button:hover {
    background: rgb(46, 152, 252);
    cursor: pointer;
}

.session-form button:focus {
    outline: 0;
}

.session-form .field input {
    border-radius: 3px; 
    width: 270px;
    height: 30px; 
    margin: 3px;
    border: 1px solid rgb(235, 235, 235); 
    background-color: #FAFAFA;
    padding-left: 6px;
    font-size: 12px;
}

.session-form input:focus {
    cursor: text;
    border: 1px solid rgb(182, 181, 181);
    outline: none;
}

.form-box .demo-button i {
    display: inline-block;
    padding-right: 4px;
}

.form-box .demo-button {
    background: none;
    border: none;
    margin-bottom: 30px;
    font-size: 15px;
    color: #385185;
    font-weight: bold;
}

.form-box .demo-button:hover {
    cursor: pointer;
}

.demo-box {
    border-top: 1px solid rgb(235, 235, 235);
    width: 270px;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative; 
}

.demo-box > p {
    color: rgb(182, 181, 181);
    font-size: 13px;
    font-weight: bold;
    position: absolute; 
    background: white;
    padding: 15px; 
    top: -21px;
}

.session-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.session-link > p, a {
    display: inline-block;
}

.session-link > p {
    color: rgb(182, 181, 181);
    font-size: 15px;
    margin-bottom: 5px;
}

.session-link > a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(46, 152, 252);
}

.errors {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.errors > li {
    color: rgba(240, 71, 71, 0.747); 
    padding-top: 4px;
}
