.splash-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}

.splash-photo {
  padding-top: 3%;
  margin: auto;
  position: relative;
}

.splash-left, .splash-right {
  margin: auto;
  content: "";
  width: 26%;
}

#splash-middle, #splash-top {
  position: absolute;
  left: 122px;
  top: 127px;
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-direction: alternate;
}

#splash-middle {
    animation-delay: 6s;
}

#splash-top {
    animation-delay: 2s;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
